USE [DevDB]
GO
/****** Object:  Table [dbo].[CandidateGenderMst]    Script Date: 26-12-2025 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CandidateGenderMst](
	[Gender_Id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NULL,
	[Gender_Name] [varchar](50) NULL,
 CONSTRAINT [PK_CandidateGenderMst] PRIMARY KEY CLUSTERED 
(
	[Gender_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CandidateMaritalStatusMst]    Script Date: 26-12-2025 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CandidateMaritalStatusMst](
	[MaritalStatus_Id] [int] IDENTITY(1,1) NOT NULL,
	[MaritalStatus_Name] [varchar](50) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_CandidateMaritalStatusMst] PRIMARY KEY CLUSTERED 
(
	[MaritalStatus_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CandidateMst]    Script Date: 26-12-2025 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CandidateMst](
	[Candidate_Id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NULL,
	[Candidate_FirstName] [varchar](50) NULL,
	[Candidate_MiddleName] [varchar](50) NULL,
	[Candidate_LastName] [varchar](50) NULL,
	[MaritalStatus_Id] [int] NULL,
	[Prefix_Id] [int] NULL,
	[Gender_Id] [int] NULL,
	[Candidate_Dob] [datetime] NULL,
	[Candidate_Email] [nvarchar](50) NULL,
	[Candidate_Num] [nvarchar](50) NULL,
 CONSTRAINT [PK_CandidateMst] PRIMARY KEY CLUSTERED 
(
	[Candidate_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrefixMst]    Script Date: 26-12-2025 16:21:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrefixMst](
	[Prefix_Id] [int] IDENTITY(1,1) NOT NULL,
	[Prefix_Name] [varchar](50) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_PrefixMst] PRIMARY KEY CLUSTERED 
(
	[Prefix_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CandidateGenderMst] ON 

INSERT [dbo].[CandidateGenderMst] ([Gender_Id], [IsActive], [Gender_Name]) VALUES (1, 1, N'Male')
INSERT [dbo].[CandidateGenderMst] ([Gender_Id], [IsActive], [Gender_Name]) VALUES (2, 1, N'Female')
INSERT [dbo].[CandidateGenderMst] ([Gender_Id], [IsActive], [Gender_Name]) VALUES (3, 1, N'Other')
SET IDENTITY_INSERT [dbo].[CandidateGenderMst] OFF
GO
SET IDENTITY_INSERT [dbo].[CandidateMaritalStatusMst] ON 

INSERT [dbo].[CandidateMaritalStatusMst] ([MaritalStatus_Id], [MaritalStatus_Name], [IsActive]) VALUES (1, N'Single', 1)
INSERT [dbo].[CandidateMaritalStatusMst] ([MaritalStatus_Id], [MaritalStatus_Name], [IsActive]) VALUES (2, N'Married', 1)
INSERT [dbo].[CandidateMaritalStatusMst] ([MaritalStatus_Id], [MaritalStatus_Name], [IsActive]) VALUES (3, N'Single Mother', 1)
SET IDENTITY_INSERT [dbo].[CandidateMaritalStatusMst] OFF
GO
SET IDENTITY_INSERT [dbo].[CandidateMst] ON 

INSERT [dbo].[CandidateMst] ([Candidate_Id], [IsActive], [Candidate_FirstName], [Candidate_MiddleName], [Candidate_LastName], [MaritalStatus_Id], [Prefix_Id], [Gender_Id], [Candidate_Dob], [Candidate_Email], [Candidate_Num]) VALUES (1, 0, N'Dev', N'A', N'Jariwala', 1, 4, 1, CAST(N'2025-09-06T00:00:00.000' AS DateTime), N'dev@aether.co.in', N'1234567890')
INSERT [dbo].[CandidateMst] ([Candidate_Id], [IsActive], [Candidate_FirstName], [Candidate_MiddleName], [Candidate_LastName], [MaritalStatus_Id], [Prefix_Id], [Gender_Id], [Candidate_Dob], [Candidate_Email], [Candidate_Num]) VALUES (2, 0, N'Kamal', N'M', N'Mistry', 2, 1, 1, CAST(N'2025-06-06T00:00:00.000' AS DateTime), N'kamal@aether.co.in', N'7894561230')
INSERT [dbo].[CandidateMst] ([Candidate_Id], [IsActive], [Candidate_FirstName], [Candidate_MiddleName], [Candidate_LastName], [MaritalStatus_Id], [Prefix_Id], [Gender_Id], [Candidate_Dob], [Candidate_Email], [Candidate_Num]) VALUES (2004, 0, N'Sharon ', N'R.', N'Jackson', 3, 2, 2, CAST(N'2025-10-12T00:00:00.000' AS DateTime), N'dev@aether.co.in', N'6192073425')
SET IDENTITY_INSERT [dbo].[CandidateMst] OFF
GO
SET IDENTITY_INSERT [dbo].[PrefixMst] ON 

INSERT [dbo].[PrefixMst] ([Prefix_Id], [Prefix_Name], [IsActive]) VALUES (1, N'Mr.', 1)
INSERT [dbo].[PrefixMst] ([Prefix_Id], [Prefix_Name], [IsActive]) VALUES (2, N'Mrs.', 1)
INSERT [dbo].[PrefixMst] ([Prefix_Id], [Prefix_Name], [IsActive]) VALUES (3, N'Ms.', 1)
SET IDENTITY_INSERT [dbo].[PrefixMst] OFF
GO
